.app__gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 1rem;
    background: var(--color-black);
}

.app__gallery-text p,
.app__gallery-text h1 {
    margin-right: 0rem;
}
.app__gallery-text p {
    margin: 24px 0;
}

.app__gallery-text button {
    padding: 8px 32px;
    border: 1px solid var(--color-golden);
    background: var(--color-golden);
}

.app__gallery-img {
    display: flex;
    gap: 16px;
}

.app__gallery-img img {
    height: 360px;

}

@media screen and (max-width: 1150px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-text {
        margin-bottom: 32px;
    }

    .app__gallery-img {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media screen and (max-width: 650px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-img {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}