.app__header {
    background-color: black;
}

.app__header h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.6px;
    text-transform: capitalize;
}

@media screen and (max-width: 1150px) {
    .app__wrapper_info h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 650px) {
    .app__wrapper_info h1 {
        font-size: 40px;
    }
}